AuthType Basic
AuthName "Protected Area"
AuthUserFile //Users/ben/Local Sites/vine-dine-event-catering/app/public/wp-content/themes/vine-dine-events-catering/.htpasswd
Require user [vinedine]

# password protect excluding specific ip
<IfModule mod_auth.c>
AuthName "Username and password required"
AuthUserFile /home/path/.htpasswd
AuthType Basic
Require valid-user
Order Deny,Allow
Deny from all
Allow from 111.222.333.444
Satisfy Any
</IfModule>